<div class="header">
  <div class="header__container">
    <div class="header__logo">
      <img src="/assets/icons/logo.svg" alt="" routerLink="/" />
    </div>

    <div class="header__search">
      <app-search></app-search>
    </div>

    <div class="header__actions">
      <div class="header__button header__cart">
        <tui-icon icon="@tui.shopping-cart" [style.font-size.rem]="2" />
        <p>Корзина</p>
      </div>

      <nav>
        @if (isAuthenticated$ | async) {
        <div class="header__user-info">
          @if (isUserLoading()) {
          <span>Загрузка...</span>
          } @else if (currentUser()) {
          <button
            tuiButton
            type="button"
            [tuiDropdown]="dropdownContent"
            [tuiDropdownManual]="DropDownOpen"
            [tuiObscuredEnabled]="DropDownOpen"
            (click)="DropDownOnClick()"
            (tuiActiveZoneChange)="onActiveZone($event)"
            (tuiObscured)="onObscured($event)"
          >
            {{ currentUser()!.firstName }} {{ currentUser()!.lastName }}
          </button>

          <ng-template #dropdownContent>
            <div class="header__dropdown">Профиль</div>
            <div class="header__dropdown" (click)="logout()">Выйти</div>
          </ng-template>
          }
        </div>
        } @else {
        <div class="header__auth-links">
          <a routerLink="/auth" [queryParams]="{ mode: 'login' }" class="header__auth-link"
            >Войти<tui-icon icon="@tui.log-in"
          /></a>
        </div>
        }
      </nav>
    </div>
  </div>
</div>
