<div class="header">
  <div class="header__container">
    <div class="header__logo">
      <img src="/assets/icons/logo.svg" alt="" routerLink="/" />
    </div>

    <div class="header__search">
      <app-search></app-search>
    </div>

    <div class="header__actions">
      <div class="header__cart">
        <tui-icon icon="@tui.shopping-cart" [style.font-size.rem]="2" />
        <p>Корзина</p>
      </div>

      <div class="header__user">
        <h2>Username</h2>
        <h2>UserSecondName</h2>
      </div>
    </div>
  </div>
</div>
