<div class="login-form">
  <div class="login-form__container">
    <div class="login-form__card">
      <div class="login-form__logo-container">
        <img src="assets/icons/logo.svg" alt="Логотип" class="login-form__logo" />
      </div>

      <h1 class="login-form__title">Войти</h1>

      <form class="login-form__form">
        <app-custom-input
          label="Номер телефона"
          placeholder="+7 (000) 000-00-00"
          type="tel"
          id="phone"
        />

        <app-custom-input
          label="Пароль"
          placeholder="Введите пароль"
          type="password"
          id="password"
        />

        <button type="submit" class="login-form__login-button">Войти</button>

        <div class="login-form__register-link-container">
          <p class="login-form__register-text">
            <a routerLink="/register" class="login-form__register-link"
              >Нет аккаунта? Зарегистрироваться</a
            >
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
