@import 'styles/variables.less';

.custom-input {
  display: flex;
  flex-direction: column;

  &__label {
    color: @main-text-color;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
  }

  &__field {
    padding: 10px 12px;
    background-color: @light-gray-color;
    border: 1px solid @dark-card-bg-color;
    border-radius: 4px;
    color: @main-text-color;
    font-size: 14px;

    &:focus {
      outline: none;
      border-color: @green-color;
      box-shadow: 0 0 0 2px fade(@green-color, 20%); // Зелёная тень при фокусе для объёма
    }

    &::placeholder {
      color: lighten(@main-text-color, 30%);
    }

    // Стили для автозаполнения
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 1000px @light-gray-color inset;
      -webkit-text-fill-color: @main-text-color;
      background-color: @light-gray-color;
      border-color: @dark-card-bg-color;
      transition: background-color 5000s ease-in-out 0s;
    }

    // Для Firefox
    &:autofill {
      background-color: @light-gray-color;
      color: @main-text-color;
    }

    // Для современных браузеров
    &::autofill {
      background-color: @light-gray-color;
      color: @main-text-color;
    }
  }
}

.error-message {
  color: red;
  font-size: 12px;
}
