<div class="product-card-list">
  <app-product-card title="Старый Бог"></app-product-card>
  <app-product-card title="Старый Бог"></app-product-card>
  <app-product-card title="Старый Бог"></app-product-card>
  <app-product-card title="Старый Бог"></app-product-card>
  <app-product-card title="Старый Бог"></app-product-card>
  <app-product-card title="Старый Бог"></app-product-card>
  <app-product-card title="Старый Бог"></app-product-card>
  <app-product-card title="Старый Бог"></app-product-card>
  <app-product-card title="Старый Бог"></app-product-card>
  <app-product-card title="Старый Бог"></app-product-card>
</div>
