<div class="catalog-categories-list">
  <app-catalog-category
    title="Телефоны"
    imageSrc="assets/images/phone.png"
    [categoryId]="1"
  ></app-catalog-category>
  <app-catalog-category
    title="Камеры"
    imageSrc="/assets/images/camera.png"
    [categoryId]="2"
  ></app-catalog-category>
  <app-catalog-category
    title="Телевизоры"
    imageSrc="/assets/images/tv.png"
    [categoryId]="3"
  ></app-catalog-category>
  <app-catalog-category
    title="Планшеты"
    imageSrc="/assets/images/tablet.png"
    [categoryId]="4"
  ></app-catalog-category>
</div>
